* {
  box-sizing: border-box;
}

.club-modal-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);

  .club-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 308px;
    width: 584px;
    height: 258px;
    padding: 0 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);

    .modal-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 544px;
      padding: 20px 0;
      gap: 32px;

      .modal-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .modal-message {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 25.2px;
          letter-spacing: -0.3px;
          color: #191919;
        }
      }
  
      .modal-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 8px;
  
        > * {
          width: 96px;
          height: 48px;
          cursor: pointer;
          border-radius: 6px;
  
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.3px;
        }
  
        .modal-cancel-btn {
          background-color: #fff;
          border: 1px solid #C9CDD2;
          color: #454C53;
        }
  
        .modal-confirm-btn {
          background-color: #764BF6;
          border: 1px solid #764BF6;
          color: #fff;
        }
      }
    }
  }

  .club-modal-container.single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 312px;
    width: 584px;
    height: 129px;
    padding: 0 20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);

    .modal-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 544px;
      padding: 20px 0;
      gap: 16px;
    }
  }
}