* {
  box-sizing: border-box;
}

.select-modal-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);

  .select-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    // width: 544px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);
    padding: 20px;

    .select-modal-wrapper {
      display: flex;
      flex-direction: column;
      width: 544px;

      .select-modal-up {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .select-modal-title {
          color: #191919;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24.2px;
          letter-spacing: -0.3px;
          align-self: flex-start;
          margin-bottom: -40px;
        }

        .long-radio {
          display: flex;
          flex-direction: column;
          gap: 9px;
          list-style: none;
          border-radius: 6px;
          background: #F7F8F9;
          width: 544px;
          padding: 12px 4px;

          .radio-label {
            display: flex;
            gap: 8px;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            color: #72787F;
            line-height: 24px;
            letter-spacing: -0.3px;
            
            > input {
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background-image: url("../../assets/svg/modal/modal-ellipse.svg");
              width: 20px;
              height: 20px;
              position: relative;

              &::after {
                content: "";
                top: 4px;
                left: 4px;
                position: absolute;
                background-image: url("../../assets/svg/modal/modal-ellipse-active.svg");
                width: 12px;
                height: 12px;
                opacity: 0;
              }

              &:checked::after {
                opacity: 1;
              }
            }
          }

          .radio-text {
            margin-top: 8px;
            width: 512px;
            height: 48px;
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #E8EBED;
            resize: none;

            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            color: #191919;
            line-height: 24px;
            letter-spacing: -0.3px;

            &::placeholder {
              color: #9EA4AA;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .leave-error {
          text-align: start;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          color: #F94E51;
          line-height: 21px;
          letter-spacing: -0.3px;
          margin-top: -45px;
          margin-bottom: 10px;
        }
      }

      .select-modal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        .select-modal-cancel-btn,
        .select-modal-leave-btn {
          width: 96px;
          height: 48px;
          cursor: pointer;
          border-radius: 6px;

          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: -0.3px;
        }

        .select-modal-cancel-btn {
          background-color: #fff;
          border: 1px solid #C9CDD2;
          color: #454C53;
        }

        .select-modal-leave-btn {
          background-color: #764bf6;
          border: 1px solid #764bf6;
          color: #fff;
        }
      }
    }
  }
}