.region-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.30);
  z-index: 1000;
}

.region-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // 정중앙 정렬
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 687px;
  gap: 24px;
  padding: 26px 24px;

  z-index: 1001;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);

  .region-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;

    .Header {
      color: var(--black-191919, #191919);

      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 33.6px */
      letter-spacing: -0.3px;
    }

    > span {
      color: var(--gray-gray-50072787-f, #72787F);

      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 25.2px */
      letter-spacing: -0.3px;
    }
  }

  > main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;

    .region-selector {
      display: grid;
      grid-template-columns: 120px 176px 178px;
      height: 476px;
      border: 1px solid #e8ebed;
      border-radius: 6px;
      overflow: hidden;

      .region-city {
        background-color: #F7F8F9;
        overflow-y: scroll;
        scrollbar-width: none;

        .region-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 50px;

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.3px;
          color: #72787F;
          text-indent: 16px;

          &.active {
            background-color: #fff;
            color: #764BF6;
          }
        }
      }

      .region-town {
        background-color: #fff;
        overflow-y: scroll;
        position: relative;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: #E8EBED;
        }

        &::-webkit-scrollbar-thumb {
          background: #9EA4AA;
          border-radius: 100px;
        }

        .region-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 50px;

          color: #191919;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.3px;
          text-indent: 16px;

          &.selected {
            color: #764BF6;
            background-color: #F1EDFE;
            background-image: url("../../assets/svg/join/region_checked.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 15px) center;
          }
        }
      }

      .region-selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding-top: 12px;
        background-color: #fff;

        .selected-item {
          padding: 8px 12px;
          width: 146px;
          background-color: #F7F8F9;
          border-radius: 6px;

          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #72787F;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }

          button {
            cursor: pointer;
            background-image: url("../../assets/svg/join/region_delete.svg");
            border: none;
            background-color: transparent;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .cancel-btn {
        cursor: pointer;
        width: 96px;
        height: 48px;

        border: 1px solid var(--gray-gray-200-c-9-cdd-2, #C9CDD2);
        border-radius: 6px;
        background: var(--white, #FFF);

        color: var(--gray-gray-600454-c-53, #454C53);
        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }

      .save-btn {
        //cursor: not-allowed;
        //pointer-events: none;
        cursor: pointer;
        pointer-events: auto;
        width: 96px;
        height: 48px;

        border: 1px solid var(--main-purple-300, #764BF6);
        border-radius: 6px;
        background: var(--main-purple-300, #764BF6);

        color: var(--white, #FFF);
        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }
    }
  }
}