.datepicker-calendar {
  display: flex;
  padding: 16px 6px;
  flex-direction: column;
  align-items: flex-start;

  // 클릭 부분에 대해서
  // position: absolute;
  // top: 90px;

  border-radius: 12px;
  background: #f7f8f9;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.08);

  .datepicker-header {
    display: flex;
    width: 308px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 72px;

    > span {
      color: #191919;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.3px;
    }

    .datepicker-header-prev-button {
      border: none;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      cursor: pointer;

      background: url('../../assets/svg/datepicker/datepicker_icon_arrow_prev.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .datepicker-header-next-button {
      border: none;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      cursor: pointer;

      background: url('../../assets/svg/datepicker/datepicker_icon_arrow_next.svg');
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .datepicker-weekdays {
    display: flex;
    justify-content: center;
    align-items: center;

    .datepicker-weekday {
      display: flex;
      width: 44px;
      height: 44px;
      padding: 12px 18px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      color: #72787f;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .datepicker-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .datepicker-day {
      display: flex;
      width: 44px;
      height: 44px;
      padding: 12px 18px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      color: 191919;

      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
      cursor: pointer;

      &.disabled {
        color: #72787f;
        cursor: default;
      }

      &.sunday {
        color: #f94e51;

        &.disabled {
          color: #72787f;
          cursor: default;
        }
      }

      &.today {
        color: #764bf6;
      }

      &.selected {
        border-radius: 100px;
        background: #764bf6;
        color: #f7f8f9;
      }
    }
  }
}
