@use '@/styles/mixins/Presets' as Presets;

.challenge-item-horizontal-container {
  width: 100%;
  height: 120px;
  display: flex;
  gap: 12px;
  position: relative;

  .challenge-item-horizontal-thumbnail-wrapper {
    display: flex;
    width: 120px;
    height: 120px;
    position: relative;

    > img {
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 67.72%,
        rgba(0, 0, 0, 0.26) 105.96%
      );
    }

    .challenge-item-horizontal-d-day {
      position: absolute;
      top: 12px;
      left: 12px;

      display: inline-flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      z-index: 10;

      border-radius: 4px;
      opacity: 0.8;
      background: #26282b;
      backdrop-filter: blur(2px);

      color: #fff;
      text-align: justify;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 16.5px */
      letter-spacing: -0.3px;
    }
  }

  .challenge-item-horizontal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;

    .challenge-item-horizontal-content-top-box {
      display: flex;
      align-items: center;
      gap: 22px;
      flex-shrink: 0;

      .challenge-item-horizontal-challenge-title {
        width: 230px;
        text-align: start;
        color: #191919;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.3px;

        &.long {
          @include Presets.abbreviation();
        }
      }
    }

    .challenge-item-horizontal-content-bottom-box {
      display: flex;
      width: 240px;
      align-items: center;
      gap: 6px;

      .challenge-item-horizontal-location-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .challenge-item-horizontal-location-icon {
          width: 24px;
          height: 24px;

          background-image: url('../../assets/svg/mypage/icon_location_gray.svg');
          background-repeat: no-repeat;
          background-position: center;
        }

        .challenge-item-horizontal-location-name {
          color: #72787f;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }
      }

      .challenge-item-horizontal-divider {
        width: 2px;
        height: 12px;
        background-color: #e8ebed;
        border-radius: 100%;
      }

      .challenge-item-horizontal-member-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .challenge-item-horizontal-member-icon {
          width: 24px;
          height: 24px;

          background-image: url('../../assets/svg/mypage/icon_members.svg');
          background-repeat: no-repeat;
          background-position: center;
        }

        .challenge-item-horizontal-member-count-box {
          display: flex;
          align-items: center;
          gap: 2px;

          .challenge-item-horizontal-member-count {
            color: #72787f;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 21px */
            letter-spacing: -0.3px;

            .challenge-item-horizontal-current-member {
              color: #191919;
            }
          }
        }

        .challenge-item-horizontal-member-text {
          color: #72787f;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }
      }
    }
  }

  .challenge-item-horizontal-heart-icon {
    width: 26px;
    height: 26px;
    z-index: 10;
    cursor: pointer;

    background-image: url('../../assets/svg/mypage/icon_heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &.active {
      background-image: url('../../assets/svg/mypage/icon_heart_filled.svg');
    }
  }
}
