.mypage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 58px;

  .mypage-content-container {
    display: flex;
    min-width: 920px;
    flex-direction: column;
    gap: 38px;

    .my-page-title {
      color: #191919;
      text-align: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: -0.3px;
    }

    .mypage-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 37px;
    }

    .mypage-challenge-box {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
}
