/* 원데이 아이템 컨테이너 */
.one-day-item-container {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 448px;
  gap: 16px;

  /* 원데이 아이템 썸네일 */
  .one-day-item-thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    > img {
      display: block;
      border-radius: 12px;
      width: 100%;
      aspect-ratio: 1/1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 67.72%, rgba(0, 0, 0, 0.26) 105.96%);
    }

    .one-day-item-heart-icon-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 16px;
      
      .one-day-item-thumbnail-heart-icon {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 36px;
        height: 36px;

        background-image: url("../../../assets/svg/main/one_day/main_one_day_thumbnail_heart_icon_inactive.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &.active {
          background-image: url("../../../assets/svg/main/one_day/main_one_day_thumbnail_heart_icon_active.svg");
        }
      }
    }
  }

  /* 원데이 아이템 내용 */
  .one-day-item-content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 97px;

    /* 원데이 아이템 태그 */
    .one-day-item-tag-container {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    /* 원데이 아이템 정보 */
    .one-day-item-information-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;

      /* 원데이 이름 */
      .one-day-class-name {
        display: flex;
        align-items: center;
        width: 100%;
        height: 25px;
        padding-left: 4px;

        color: #191919;

        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.3px;
      }

      .one-day-item-information-sub-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 24px;
        gap: 10px;

        /* 원데이 위치 */
        .one-day-item-location-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .one-day-item-location-icon {
            width: 24px;
            height: 24px;
            background-image: url("../../../assets/svg/main/one_day/main_one_day_icon_location.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          .one-day-item-location {
            color: #72787F;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }

        /* 원데이 정보 구분선 아이콘 */
        .one-day-item-divider-icon {
          width: 2px;
          height: 8px;
          background-image: url("../../../assets/svg/main/one_day/main_one_day_icon_divider.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        /* 원데이 현재 인원 */
        .one-day-item-current-members-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .one-day-item-current-members-icon {
            width: 24px;
            height: 24px;
            background-image: url("../../../assets/svg/main/one_day/main_one_day_icon_member.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          .one-day-item-member-container {
            display: flex;
            flex-direction: row;
            gap: 2px;

            .one-day-item-member-count {
                color: #72787F;

                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.3px;

              .one-day-item-member-number {
                color: #191919;
              }
            }

            .one-day-item-member-postfix {
              color: #72787F;

              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
            }
          }
        }

        /* 원데이 정보 구분선 아이콘 */
        .one-day-item-divider-icon {
          width: 2px;
          height: 8px;
          background-image: url("../../../assets/svg/main/one_day/main_one_day_icon_divider.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .one-day-item-scheduled-date-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .one-day-item-scheduled-date-icon {
            width: 24px;
            height: 24px;
            background-image: url("../../../assets/svg/main/one_day/main_one_day_icon_calendar.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          .one-day-item-scheduled-date {
            color: #72787F;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }
      }

      .one-day-item-writer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        > img {
          width: 24px;
          height: 24px;
          border-radius: 24px;

          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .one-day-item-writer-nickname {
          color: #72787F;

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}