.challenge-all-list-container {
  display: flex;
  flex-direction: column;
  gap: 72px;

  .challenge-all-row {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }

  .challenge-all-list-exception-box {
    display: flex;
    width: 1060px;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .challenge-all-list-exception-text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      > span {
        &:first-of-type {
          color: #000;
          text-align: center;
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: -0.3px;
        }

        &:nth-of-type(2) {
          color: #72787f;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.3px;
        }
      }
    }

    > button {
      display: flex;
      height: 60px;
      padding: 12px 30px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      background: #26282b;
      border: none;
      cursor: pointer;

      .challenge-all-list-exception-icon {
        width: 12px;
        height: 12px;

        background: url('../../../assets/svg/club/clublist/club_list_exception_handle_add_button.svg');
        background-position: center;
        background-repeat: no-repeat;
      }

      > span {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.3px;
      }
    }
  }
}
