.challenge-all-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .challenge-all-row {
    width: 100%;
    display: flex;
    align-items: center;
    align-self: stretch;

    &.default {
      gap: calc((100% - (240px * 4)) / 3);
    }

    &.search {
      gap: calc((100% - (240px * 5)) / 4);
    }
  }

  .challenge-all-list-exception-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;

    &.has-sub-category {
      min-height: 184px;
      justify-content: flex-end;
      align-items: center;
    }

    &.has-not-sub-category {
      min-height: 254px;
    }

    .challenge-all-list-exception-text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      &.default {
        > span {
          &:first-of-type {
            color: #000;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.3px;
          }

          &:nth-of-type(2) {
            color: #9ea4aa;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.3px;
          }
        }
      }

      &.search {
        > span {
          &:first-of-type {
            color: #000;
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.3px;
          }

          &:nth-of-type(2) {
            color: #72787f;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }
      }
    }

    > button {
      display: flex;
      height: 60px;
      padding: 12px 20px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 6px;
      background: var(--main-purple-300, #764bf6);
      border: none;

      &.search {
        display: flex;
        height: 60px;
        padding: 12px 30px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: var(--main-purple-300, #764bf6);
      }

      .challenge-all-list-exception-icon {
        width: 12px;
        height: 12px;

        background: url('../../../assets/svg/club/clublist/club_list_exception_handle_add_button.svg');
        background-position: center;
        background-repeat: no-repeat;
      }

      > span {
        color: var(--white, #fff);
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        letter-spacing: -0.3px;
      }
    }
  }
}
