.main-category-container {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  .main-category-item-container {
    display: flex;
    height: 48px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #fff;
    cursor: pointer;

    &.active {
      background: #f7f8f9;

      .main-category-item-box {
        > span {
          color: #764bf6;
          cursor: pointer;
        }

        > .main-category-icon {
          $categories: (
            entire,
            sports,
            music,
            art,
            travel,
            leisure,
            self-improvement
          );

          @each $category in $categories {
            &.#{$category} {
              background-color: #764bf6;
            }
          }
        }
      }
    }

    .main-category-item-box {
      display: flex;
      align-items: center;
      gap: 4px;

      .main-category-icon {
        width: 24px;
        height: 24px;

        background-repeat: no-repeat;
        background-position: center;
        mask-size: contain;
        background-color: #191919;

        $categories: (
          entire,
          sports,
          music,
          art,
          travel,
          leisure,
          self-improvement
        );

        @each $category in $categories {
          &.#{$category} {
            mask: url('../../../assets/svg/club/register/category/category-#{$category}.svg')
              no-repeat
              center;
          }
        }
      }

      > span {
        color: #191919;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
      }
    }
  }
}
