.desc-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .up-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .club-title-input {
      width: 920px;
      height: 48px;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #F7F8F9;
      background: #F7F8F9;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: #9EA4AA;
      line-height: 24px;
      letter-spacing: -0.3px;
    }

    > input:focus {
      outline: none;
    }
  }


  .club-description-textarea {
    width: 920px;
    height: 302px;
    padding: 12px;
    gap: 10px;

    border-radius: 6px;
    border: 1px solid #E8EBED;
    resize: none;

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #9EA4AA;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  > textarea:focus {
    outline: none;
  }
}