.image-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .image-uploader-label-box {
    display: flex;
    height: 26px;
    padding: 0px 4px;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;

    .image-uploader-label {
      color: #26282b;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    .image-uploader-required {
      color: #f94e51;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .image-uploader-box {
    display: flex;
    width: 330px;
    height: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #c9cdd2;

    .image-preview {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
        height: 100%;

        &:hover {
          opacity: 0.5;
        }
      }

      .image-change-btn {
        width: 96px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 6px;
        border: 1px solid #764bf6;
        background: rgba(255, 255, 255, 0.5);

        opacity: 0;

        &:focus {
          outline: none;
        }

        > span {
          width: 96px;
          height: 20px;

          color: #764bf6;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: -0.3px;
        }
      }

      &:hover {
        .image-change-btn {
          opacity: 1;
        }
      }
    }

    .image-uploader-info-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .add-photo-icon {
        display: flex;
        width: 84px;
        height: 84px;
        padding: 18px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #fff;

        background-image: url('../../../assets/svg/club/create/add_photo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 72px 72px;
      }

      .image-uploader-info {
        display: flex;
        width: 309px;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .image-uploader-info-text-box {
          display: flex;
          flex-direction: column;
          align-items: center;

          > span:first-of-type {
            align-self: stretch;
            color: #191919;
            text-align: center;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.3px;
          }

          > span:last-of-type {
            align-self: stretch;
            color: #9ea4aa;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }

        .image-uploader-btn {
          width: 96px;
          height: 40px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 6px;
          border: 1px solid #764bf6;
          background: #fff;

          > span {
            width: 96px;
            height: 20px;

            color: #764bf6;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }
      }
    }

    .image-uploader-file-input {
      display: none;
    }
  }
}
