.max-member-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .max-member-label-box {
    display: flex;
    height: 26px;
    padding: 0px 4px;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;

    .max-member-label {
      color: #26282b;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 25.2px */
      letter-spacing: -0.3px;
    }

    .max-member-required {
      color: #f94e51;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .max-member-input-box {
    display: flex;
    width: 470px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 6px;
    border: 1px solid#E8EBED;

    &:focus {
      outline: none;
    }
  }
}
