.club-meeting-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  width: 100%;
  height: 100%;

  .club-meeting-register-wrapper {
    display: flex;
    flex-direction: column;
    gap: 54px;

    .club-meeting-register-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      align-self: stretch;
  
      .club-meeting-register-line-box {
        display: flex;
        height: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 4px;
        align-self: stretch;
  
        > div {
          > span:first-of-type {
            color: #f94e51;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
  
          > span:nth-of-type(2) {
            color: #72787f;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }
  
        .line {
          height: 2px;
          flex-shrink: 0;
          align-self: stretch;
          background: #c9cdd2;
        }
      }
  
      .club-meeting-register-content-area {
        display: flex;
        width: 920px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 48px;
  
        .club-meeting-register-content {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          flex: 1;
  
          .club-meeting-content-container {
            display: flex;
            width: 494px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
  
            > input {
              width: 890px;
              height: 48px;
              box-sizing: border-box;
              padding: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 6px;
              border: 1px solid #e8ebed;
  
              color: #191919;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
  
              &:focus {
                outline: none;
              }
  
              &::placeholder {
                color: #9ea4aa;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.3px;
              }
            }
  
            .error {
              display: flex;
              height: 22px;
              padding-top: 1px;
              align-items: center;
              align-self: stretch;
  
              color: #f94e51;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
            }
          }
        }
  
        .club-meeting-register-button-container {
          display: flex;
          align-items: center;
          gap: 12px;
  
          .club-meeting-register-cancel {
            width: 96px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid #c9cdd2;
            background: #fff;
            cursor: pointer;
  
            color: #454c53;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
  
          .club-meeting-register-submit {
            width: 96px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid #764bf6;
            background: #764bf6;
            cursor: pointer;
  
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }
      }
    }
  }

  > footer {
    margin-top: 339px;
    height: 336px;
  }

}
