.search-bar-form {
  position: relative;
  width: 340px;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-radius: 6px;
  border: 1px solid #e8ebed;

  .search-bar-input {
    width: 100%;
    height: 28px;
    border: none;
    padding-left: 20px;
    padding-right: 68px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.3px;
    vertical-align: middle;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .icon-reset {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 14px;
    right: 52px;
    cursor: pointer;

    background-image: url('../../../assets/svg/main/search_bar/search_bar_reset.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .icon-search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    right: 20px;
    cursor: pointer;

    background-image: url('../../../assets/svg/main/search_bar/search_bar_search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
