.search-bar-form {
  position: relative;
  width: 420px;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #e8ebed;

  .input-container {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;

    .search-bar-input {
      width: 100%;
      height: 24px;
      border: none;

      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.3px;
      vertical-align: middle;

      &:focus {
        border: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.3px;
      }
    }

    .icon-container {
      width: 48px;
      height: 24px;
      display: flex;
      align-items: center;
      gap: 8px;

      .icon-reset {
        width: 16px;
        height: 16px;
        cursor: pointer;

        background-image: url('../../../assets/svg/main/search_bar/search_bar_reset.svg');
        background-repeat: no-repeat;
        background-position: center;
      }

      .icon-reset-disabled {
        width: 16px;
        height: 16px;
      }

      .icon-search {
        width: 24px;
        height: 24px;
        cursor: pointer;

        background-image: url('../../../assets/svg/main/search_bar/search_bar_search.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
