.challenge-detail-floating-card-wrapper {
  position: fixed;
  right: 320px;

  display: flex;
  width: 400px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-radius: 12px;
  border: 1px solid var(--gray-gray-100-e-8-ebed, #e8ebed);
  background: #fff;
  box-shadow:
    0 2px 4px -2px rgba(24, 39, 75, 0.03),
    0 4px 12px -2px rgba(24, 39, 75, 0.02);

  /* 이미지 & 상세 설명 영역 */
  .challenge-detail-floating-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;

    /* 이미지 영역 */
    .challenge-detail-floating-card-img-container {
      > img {
        width: 360px;
        height: 203px;
        border-radius: 3px;
      }
    }

    /* 챌린지 타이틀 컨테이너 */
    .challenge-detail-floating-card-title-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .challenge-detail-floating-card-title {
        color: var(--black-191919, #191919);
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        letter-spacing: -0.3px;
      }
    }

    /* 챌린지 상세 정보 컨테이너 */
    .challenge-detail-floating-card-content-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      /* 장소 */
      .challenge-detail-floating-card-region-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .challenge-detail-floating-card-region-label-box {
          display: flex;
          align-items: center;
          gap: 2px;

          .challenge-detail-floating-card-region-icon {
            width: 24px;
            height: 24px;
            background: url('../../../assets/svg/challenge/detail/challenge_detail_floating_card_location.svg');
            background-position: center;
            background-repeat: no-repeat;
          }

          .challenge-detail-floating-card-region-label-text {
            flex-shrink: 0;
            color: var(--gray-gray-50072787-f, #72787f);
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }

        .challenge-detail-floating-card-region-text {
          color: var(--gray-gray-600454-c-53, #454c53);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: -0.3px;
        }
      }

      /* 모집인원 */
      .challenge-detail-floating-card-member-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .challenge-detail-floating-card-member-label-box {
          display: flex;
          align-items: center;
          gap: 2px;

          .challenge-detail-floating-card-member-icon {
            width: 24px;
            height: 24px;
            background: url('../../../assets/svg/challenge/detail/challenge_detail_floating_card_member.svg');
            background-position: center;
            background-repeat: no-repeat;
          }

          .challenge-detail-floating-card-member-label-text {
            flex-shrink: 0;
            color: var(--gray-gray-50072787-f, #72787f);
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }

        .challenge-detail-floating-card-member-text-box {
          display: flex;
          align-items: center;

          .challenge-detail-floating-card-current-member-text {
            color: var(--gray-gray-4009-ea-4-aa, #9ea4aa);

            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }

          .challenge-detail-floating-card-max-member-text {
            color: var(--gray-gray-600454-c-53, #454c53);

            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }
      }

      /* 챌린지 기간 */
      .challenge-detail-floating-card-period-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .challenge-detail-floating-card-period-label-box {
          display: flex;
          align-items: center;
          gap: 2px;

          .challenge-detail-floating-card-period-icon {
            width: 24px;
            height: 24px;
            background: url('../../../assets/svg/challenge/detail/challenge_detail_floating_card_calendar.svg');
            background-position: center;
            background-repeat: no-repeat;
          }

          .challenge-detail-floating-card-period-label-text {
            flex-shrink: 0;
            color: var(--gray-gray-50072787-f, #72787f);
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }

        .challenge-detail-floating-card-period-text {
          color: var(--gray-gray-600454-c-53, #454c53);
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: -0.3px;
        }
      }
    }

    /* 챌린지 카테고리 이동 버튼 */
    .challenge-detail-floating-card-category-button-container {
      display: flex;
      padding: 4px 11px;
      align-items: center;
      gap: 4px;
      border-radius: 50px;
      border: 1px solid var(--gray-gray-100-e-8-ebed, #e8ebed);
      background: var(--white, #fff);

      &:hover {
        cursor: pointer;
      }

      .challenge-detail-floating-card-category-button-text-box {
        display: flex;
        align-items: center;
        gap: 2px;

        .challenge-detail-floating-card-category-button-text-icon {
          color: var(--gray-gray-50072787-f, #72787f);
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }

        .challenge-detail-floating-card-category-button-text {
          flex-shrink: 0;
          color: var(--gray-gray-50072787-f, #72787f);
          font-family: Pretendard;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }
      }

      .challenge-detail-floating-card-category-arrow-icon {
        width: 16px;
        height: 16px;

        background: url('../../../assets/svg/challenge/detail/challenge_detail_floating_card_arrow_right.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  /* 참여하기 버튼 & D day 안내 */
  .challenge-detail-floating-card-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;

    .challenge-detail-floating-card-participation-button {
      display: flex;
      height: 60px;
      padding: 12px 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 6px;
      background: var(--main-purple-300, #764bf6);

      color: var(--white, #fff);
      text-align: center;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: -0.3px;

      outline: none;
      border: none;

      &.disabled {
        opacity: 0.3;

        &:hover {
          cursor: default;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .challenge-detail-floating-card-due-date-description {
      display: flex;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      > span {
        color: var(--gray-gray-50072787-f, #72787f);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }
    }
  }
}
