.challenge-detail-review-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .challenge-detail-review-item-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    padding: 0 20px;
    margin-bottom: 12px;

    /* header */
    .challenge-detail-review-item-content-header {
      display: flex;
      height: 24px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      position: relative;

      .challenge-detail-review-item-user-profile-box {
        display: flex;
        align-items: center;
        gap: 8px;

        .challenge-detail-review-item-user-profile {
          display: flex;
          align-items: flex-start;
          gap: 10px;

          .challenge-detail-review-item-user-profile-img {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;

            border-radius: 24px;
            border: 1px solid #e8ebed;
          }

          .challenge-detail-review-item-user-profile-info {
            display: flex;
            align-items: flex-start;
            gap: 4px;

            color: #454c53;
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }

        .challenge-detail-review-item-created-at {
          display: flex;
          align-items: center;
          height: 24px;

          color: #9ea4aa;
          font-family: Pretendard;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }
      }
    }

    /* description */
    .challenge-detail-review-item-description {
      color: #72787f;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.3px;
    }
  }

  /* images */
  .challenge-detail-review-item-img-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    margin-left: 20px;
    margin-bottom: 14px;

    img {
      width: 176px;
      height: 130px;
      flex-shrink: 0;

      object-fit: cover;

      aspect-ratio: 176/130;

      cursor: pointer;
    }
  }

  /* likes */
  .challenge-detail-review-item-like-box {
    display: flex;
    align-items: flex-end;
    padding: 0 20px;

    .challenge-detail-review-item-like-icon {
      width: 24px;
      height: 24px;

      background-image: url('../../../assets/svg/challenge/review/challenge_review_like.svg');
      background-position: center;
      background-repeat: no-repeat;

      cursor: pointer;

      &.isActive {
        background-image: url('../../../assets/svg/challenge/review/challenge_review_like_isActive.svg');
      }
    }

    .challenge-detail-review-item-like-count {
      color: #72787f;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: -0.3px;

      cursor: default;

      &.isActive {
        color: #764bf6;
      }
    }
  }
}
