.challenge-detail-review-container {
  width: 820px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  .challenge-detail-review-title {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.3px;
    color: #191919;
  }

  .challenge-detail-review-content-wrapper {
    width: 100%;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #e8ebed;
    display: flex;
    flex-direction: column;
    align-items: center;

    .challenge-detail-review-content-container {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding: 22px 0;

      .challenge-detail-review-item-divider {
        margin: 0 20px;
        height: 1px;
        background-color: #e8ebed;
      }
    }

    .challenge-detail-review-empty {
      color: #9ea4aa;
      text-align: center;
      font-family: Pretendard;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 25.2px */
      letter-spacing: -0.3px;
    }

    .challenge-detail-review-btn-container {
      width: 100%;
      padding: 0 25px 22px 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      .challenge-detail-review-more-btn {
        display: flex;
        width: 100%;
        min-height: 54px;
        gap: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #e8ebed;

        .challenge-detail-review-more-btn-text {
          font-family: Pretendard;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.3px;
          color: #191919;
        }

        .challenge-detail-review-more-btn-icon {
          width: 24px;
          height: 24px;

          background: url('../../../assets/svg/challenge/detail/challenge_detail_review_arrow_right.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
