.challenge-recruit-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  .challenge-recruit-description-title {
    color: var(--black-191919, #191919);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.3px;
  }

  .challenge-recruit-description-content {
    max-height: 1200px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &.expanded {
      max-height: none;
    }

    .challenge-recruit-description {
      text-align: left;
      color: var(--black-191919, #191919);

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.3px;
    }

    .challenge-recruit-description-images {
      width: 820px;
      height: 310px;

      > img {
        width: 100%;
        height: 100%;

        aspect-ratio: 82 / 31; /* 2.65 / 1 */

        border-radius: 6px;

        background-color: #d9d9d9;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .challenge-recruit-description-more-btn {
    cursor: pointer;
    display: flex;
    width: 820px;
    height: 54px;
    padding: 12px 376px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    white-space: nowrap;

    border-radius: 3px;
    border: 1px solid var(--gray-gray-100-e-8-ebed, #e8ebed);
    background: var(--white, #fff);

    color: var(--black-191919, #191919);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.3px;

    .challenge-recruit-description-more-btn-image {
      width: 24px;
      height: 24px;
      transform: rotate(90deg);
      flex-shrink: 0;

      background-image: url('@/assets/svg/challenge/detail/challenge_detail_review_arrow_right.svg');
    }
  }
}
