.challenge-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;

  .challenge-detail-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 24px; // 하단 여유 여백 추가

    .challenge-detail-content {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }
  }
}
