.challenge-recruit-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  .challenge-recruit-description-title {
    color: var(--black-191919, #191919);

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.3px;
  }

  .challenge-recruit-description {
    color: var(--black-191919, #191919);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.3px;
  }

  .challenge-recruit-description-images {
    width: 820px;
    height: 310px;

    > img {
      width: 100%;
      height: 100%;

      aspect-ratio: 82 / 31; /* 2.65 / 1 */

      border-radius: 6px;

      background-color: #D9D9D9;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}