.challenge-detail-qna-item-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  padding-left: 20px;
  border-top: 1px solid #e8ebed;

  .challenge-detail-qna-item-content-container {
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    width: 674px;
    padding: 16px 0;

    .challenge-detail-qna-item-question-container {
      display: flex;
      align-items: center;
      gap: 6px;

      .challenge-detail-qna-item-question-mark-icon {
        width: 22px;
        height: 22px;
        flex-shrink: 0;

        background-image: url('../../../assets/svg/challenge/detail/challenge_detail_qna_Q.svg');
        background-position: center;
        background-repeat: no-repeat;
      }

      .challenge-detail-qna-item-question-content {
        color: var(--gray-gray-600454-c-53, #454c53);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }
    }

    .challenge-detail-qna-item-answer-container {
      display: flex;
      align-items: center;
      gap: 6px;
      padding-left: 30px;

      .challenge-detail-qna-item-answer-mark-icon {
        width: 22px;
        height: 22px;
        flex-shrink: 0;

        background-image: url('../../../assets/svg/challenge/detail/challenge_detail_qna_A.svg');
        background-position: center;
        background-repeat: no-repeat;
      }

      .challenge-detail-qna-item-answer-content {
        color: var(--gray-gray-50072787-f, #72787f);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }
    }
  }

  .challenge-detail-qna-item-answer-status-container {
    display: flex;
    width: 126px;
    height: 78px;
    // padding: 0 37.5px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: var(--gray-gray-50072787-f, #72787f);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.3px;
  }
}
