.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 100vw;
  height: 480px;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination {
      // position: absolute;
      bottom: 20px;
      display: flex;
      justify-content: center;
      gap: 12px;
      .swiper-pagination-bullet {
        margin: 0 !important;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);

        &.swiper-pagination-bullet-active {
          background-color: #fff;
        }
      }
    }
  }

  .nav-wrapper {
    position: absolute;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .custom-prev,
    .custom-next {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      padding: 18px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
      background-repeat: no-repeat;
      background-position: center;

      &::after {
        display: none;
      }

    }

    .custom-prev {
      background-image: url("../../assets/svg/carousel/main_carousel_arrow.svg");
    }

    .custom-next {
      background-image: url("../../assets/svg/carousel/main_carousel_arrow.svg");
      transform: rotate(-180deg);
    }
  }
  
}