main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  > * {
    margin-bottom: 120px;
  }

  > *:first-child {
    margin-bottom: 0;
  }

  > *:nth-child(4) {
    margin-bottom: 140px;
  }

  > *:last-child {
    margin-bottom: 90px;
  }
}
