.responsive-container {
  /* TODO: 반응형 디자인 추가 예정 (승우) */

  > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    > * {
      margin-bottom: 120px;
    }

    > *:first-child {
      margin-bottom: 0;
    }

    > *:nth-child(2) {
      margin-bottom: 140px;
    }

    > *:last-child {
      margin-bottom: 90px;
    }
  }
}

/* TODO: 미디어 쿼리 사용 예정 (승우) */

