.item-container {
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 100%;
  gap: 8px;

  .item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .item-top {
      text-align: left;
      line-height: 0;
    
      .item-tag {
        > span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 28px;
          padding: 4px 10px;
          border-radius: 100px;
          background-color: #f7f8f9;
          font-size: 14px;
          color: #72787f;
          font-weight: 500;
          line-height: 21px;
          letter-spacing: -0.3px;
        }
      }
    }
    
    .item-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 24px;
      padding: 0 0 0 4px;
  
      .item-title {
        width: 433px;
        height: 100%;
        font-size: 16px;
        color: #191919;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.3px;
      }
      
      .item-meta {
        display: flex;
        gap: 12px;
        align-items: center;
      
        .likes {
          display: flex;
          align-items: center;
          color: #764BF6;
      
          .like-icon {
            width: 24px;
            height: 24px;
            background-image: url("../../assets/svg/main/main_popularpost_thumb.svg");
            background-repeat: no-repeat;
            background-position: center;
          }

          .like-count {
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: -0.3px;
          }
        }
        
        .date {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          letter-spacing: -0.3px;
          color: #9EA4AA;
        }
      }
    }
  }
  > hr {
    margin: 0;
    border: none;
    width: 580px;
    height: 1px;
    background-color: #E8EBED;
    border-radius: 100px;
  }
}
