.popular-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1280px;
  height: 100%;

  .popular-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > span {
      font-size: 24px;
      font-weight: 600;
      line-height: 33.6px;
      letter-spacing: -0.3px;
      color: #191919;
    }

    > button {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #72787F;
    }
  }

  .popular-section {
    display: flex;
    justify-content: space-between;

    .left-section,
    .right-section {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}