.loading-container {
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4px;
  }

  .ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #764bf6;

    &:nth-child(1) {
      animation: bounce 2.1s ease-in-out infinite;
    }

    &:nth-child(2) {
      animation: bounce 2.1s ease-in-out 0.3s infinite;
    }

    &:nth-child(3) {
      animation: bounce 2.1s ease-in-out 0.6s infinite;
    }
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-18px);
    width: 6px;
    height: 6px;
    opacity: 0.5;
  }
}
