.loading-container {
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
    flex-direction: column;
  }

  > img {
    width: 40px;
    height: 40px;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
