.dropdown-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .dropdown-label-box {
    display: flex;
    height: 26px;
    padding: 0px 4px;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;

    .dropdown-label {
      color: #26282b;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 25.2px */
      letter-spacing: -0.3px;
    }

    .dropdown-required {
      color: #f94e51;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .dropdown-box {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
  }
}
