.dropdown-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .dropdown-box {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
  }

  .err-message {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #f94e51;
    line-height: 21px;
    letter-spacing: -0.3px;
  }
}
