.drop-down-container {
  display: flex;
  width: 240px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #e8ebed;

  &.active {
    border-radius: 6px 6px 0px 0px;
    border: 1px solid #764bf6;
    border-bottom: none;
  }

  &.isPlaceholderItem {
    .drop-down-label {
      color: #9ea4aa;
    }
  }

  .drop-down-label {
    flex: 1 0 0;

    color: #191919;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.3px;
    text-align: left;

    &.disabled {
      color: #9ea4aa;
    }
  }

  .drop-down-icon-box {
    width: 24px;
    height: 24px;

    background-image: url('../../assets/svg/dropdown/dropdown_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;

    &.active {
      background-image: url('../../assets/svg/dropdown/dropdown_arrow_up.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.drop-down-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid #e8ebed;
  background: #fff;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.04);
  max-height: 375px;

  .drop-down-list-content-box {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;

    .drop-down-list-item-box {
      display: flex;
      height: 50px;
      padding: 12px 16px;
      align-items: center;
      gap: 10px;
      align-self: stretch;

      .drop-down-list-label {
        flex: 1 0 0;
        color: #191919;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
        text-align: left;
      }

      &.active {
        background: var(--purple-Light, #f1edfe);

        .drop-down-list-label {
          color: var(--main, #764bf6);
        }
      }

      .drop-down-list-icon-box {
        width: 24px;
        height: 24px;

        background-image: url('../../assets/svg/dropdown/dropdown_check.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
