.club-list-container {
  display: flex;
  width: 1060px;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  .club-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    align-self: stretch;

    .club-row {
      display: flex;
      align-items: center;
      gap: 20px;
      align-self: stretch;
    }
  }
}
