.main-category-container {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 134px; // test용 포지셔닝
  margin-right: 40px; // test용 포지셔닝

  .main-category-item-container {
    display: flex;
    height: 48px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #fff;

    &.active {
      background: #f7f8f9;

      .main-category-item-box {
        > span {
          color: #764bf6;
        }
      }
    }

    .main-category-item-box {
      display: flex;
      align-items: center;
      gap: 4px;

      .main-category-icon {
        width: 24px;
        height: 24px;
        background: #d9d9d9; // icon 정해지면 수정

        // background-image: url('');
        // background-repeat: no-repeat;
        // background-position: center;
      }

      > span {
        color: #72787f;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
        cursor: default;
      }
    }
  }
}
