.main-category-container {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: flex-start;

  .main-category-item-container {
    display: flex;
    height: 48px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background: #fff;

    .main-category-item-box {
      display: flex;
      align-items: center;
      gap: 4px;

      .main-category-icon {
        width: 24px;
        height: 24px;
        background: #d9d9d9; // icon 정해지면 삭제

        // background-image: url('../../../assets/svg/dropdown/dropdown_arrow_down.svg');
        // background-repeat: no-repeat;
        // background-position: center;
      }

      > span {
        color: #72787f;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.3px;
      }
    }
  }
}
