.challenge-review-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;

  .challenge-review-item-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    /* header */
    .challenge-review-item-content-header {
      display: flex;
      height: 24px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      position: relative;

      .challenge-review-item-user-profile-box {
        display: flex;
        align-items: center;
        gap: 8px;

        .challenge-review-item-user-profile {
          display: flex;
          align-items: flex-start;
          gap: 10px;

          .challenge-review-item-user-profile-img {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;

            border-radius: 24px;
            border: 1px solid #e8ebed;
          }

          .challenge-review-item-user-profile-info {
            display: flex;
            align-items: flex-start;
            gap: 4px;

            color: #454c53;
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;
          }
        }

        .challenge-review-item-created-at {
          display: flex;
          align-items: center;
          height: 24px;

          color: #9ea4aa;
          font-family: Pretendard;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
          letter-spacing: -0.3px;
        }
      }

      /* kebab */
      .challenge-review-item-kebab-icon {
        width: 16px;
        height: 16px;

        background-image: url('../../../assets/svg/challenge/review/challenge_review_kebab.svg');
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
      }

      .challenge-review-item-kebab-box {
        display: flex;
        width: 127px;
        padding: 12px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        position: absolute;
        right: 0;
        top: 30px;

        border-radius: 6px;
        border: 1px solid #e8ebed;
        background: #fff;
        box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.03);

        opacity: 0;

        > span {
          color: #191919;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: -0.3px;

          cursor: pointer;
        }

        &.isActive {
          opacity: 1;
        }
      }
    }

    /* description */
    .challenge-review-item-description {
      color: #72787f;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
      letter-spacing: -0.3px;
    }

    /* images */
    .challenge-review-item-img-box {
      display: flex;
      width: 920px;
      align-items: center;
      gap: 10px;

      img {
        width: 176px;
        height: 130px;
        flex-shrink: 0;
      }
    }
  }

  .challenge-review-item-like-box {
    display: flex;
    align-items: flex-end;

    .challenge-review-item-like-icon {
      width: 24px;
      height: 24px;

      background-image: url('../../../assets/svg/challenge/review/challenge_review_like.svg');
      background-position: center;
      background-repeat: no-repeat;

      cursor: pointer;

      &.isActive {
        background-image: url('../../../assets/svg/challenge/review/challenge_review_like_isActive.svg');
      }
    }

    .challenge-review-item-like-count {
      color: #72787f;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
      letter-spacing: -0.3px;

      cursor: default;

      &.isActive {
        color: #764bf6;
      }
    }
  }
}
