.text-btn-name {
  color: #191919;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.3px;

  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}