
.passreset-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 48px;
  

  .passreset-title{
    display: flex;
    flex-direction: column;
    gap: 12px;

  >span{
    color: #72787F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.3px;
  }
}


  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      > label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6px;

        > input {
          flex: 1;
          padding: 12px;
          border: 1px solid #E8EBED;
          border-radius: 6px;

          color: #191919;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
        }

        > input:focus {
          outline: none;
          border: 1px solid #191919;
        }

        .password {
          position: absolute;
          right: 10px;
          top: 11px;
          background-image: url("../../assets/svg/login/login_password_hide.svg");
          width: 24px;
          height: 24px;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &.active {
            background-image: url("../../assets/svg/login/login_password_show.svg");
          }
        }
        .passwordCheck {
          position: absolute;
          right: 10px;
          top: 11px;
          background-image: url("../../assets/svg/login/login_password_hide.svg");
          width: 24px;
          height: 24px;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &.active {
            background-image: url("../../assets/svg/login/login_password_show.svg");
          }
        }

        .reset {
          display: none;
          position: absolute;
          right: 10px;
          top: 12.25px;
          background-image: url("../../assets/svg/login/login_reset_button.svg");
          width: 20px;
          height: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }

        .reset-password {
          display: none;
          position: absolute;
          right: 40px;
          top: 12.25px;
          background-image: url("../../assets/svg/login/login_reset_button.svg");
          width: 20px;
          height: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }

        &:focus-within > .password,
        &:focus-within > .reset,
        &:focus-within > .reset-password {
          display: block;
        }
      }

      > label > input.error {
        border: 1px solid #F94E51;
      }

      .error-message {
        text-align: start;
        color: #F94E51;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }

    }

    .passChange-button {
      cursor: pointer;
      background: #3A00C3;
      border: none;
      border-radius: 6px;
      padding: 12px 10px;
      height: 60px;

      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
  }
}