$purple-bg: #F1EDFE;
$purple-text: #764BF6;
$gray-bg: #f7f8f9;
$gray-text: #72787f;

@mixin tag-color($bg, $text) {
  background-color: $bg;
  color: $text;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 4px 10px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.3px;

  &.club {
    &.purple {
      @include tag-color($purple-bg, $purple-text);
    }
  
    &.gray {
      @include tag-color($gray-bg, $gray-text);
    }
  }

  &.one-day {
    &.purple {
      @include tag-color($purple-bg, $purple-text);
    }
  
    &.gray {
      @include tag-color($gray-bg, $gray-text);
    }
  }

  &.popular-posts {
    &.purple {
      @include tag-color($purple-bg, $purple-text);
    }
  
    &.gray {
      @include tag-color($gray-bg, $gray-text);
    }
  }
}
