$purple-bg: #f1edfe;
$purple-text: #764bf6;
$gray-bg: #f7f8f9;
$gray-text: #72787f;

@mixin tag-color($bg, $text) {
  background-color: $bg;
  color: $text;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.3px;
  flex-shrink: 0;

  // type
  &.challenge {
    padding: 4px 10px;
    border-radius: 100px;
  }

  // size
  &.default {
    height: 24px;
    padding: 0px 10px;
    border-radius: 5px;
  }

  &.long {
    padding: 3px 15px;
    border-radius: 6px;
  }

  // color
  &.purple {
    @include tag-color($purple-bg, $purple-text);
  }

  &.gray {
    @include tag-color($gray-bg, $gray-text);
  }
}
