@mixin font-basic-style {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.3px;
}

$font-color-basic: #72787F;

.agreement-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 60px;

  .agreement-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    white-space: nowrap;

    .Header {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    > span {
      @include font-basic-style;
      color: $font-color-basic;
      font-weight: 500;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 100%;

    .input-container {
      display: flex;
      flex-direction: column;
      
      .all-wrapper {
        display: flex;
        flex-direction: column;
        
        > label span {
          font-weight: 600;
          font-size: 18px;
          color: #191919;
        }
      }

      > hr {
        border: 0;
        border-top: 1px solid #E8EBED;
        width: 480px;
      }

      .rest-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url("../../assets/svg/join/agreement_checkbox_unchecked.svg");
          width: 24px;
          height: 24px;
        }

        input:checked {
          background-image: url("../../assets/svg/join/agreement_checkbox_checked.svg");
        }

        span {
          @include font-basic-style;
          color: $font-color-basic;
          font-weight: 500;
        }

        button {
          color: $font-color-basic;
          @include font-basic-style;
          font-weight: 500;
          background: none;
          border: none;
          text-decoration: none;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          flex-grow: 1;
          justify-content: flex-end;

          &::after {
            content: '';
            display: inline-block;
            background-image: url("../../assets/svg/join/agreement_goto.svg");
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .join-next-btn {
      cursor: pointer;
      background-color: #764BF6;
      opacity: 0.3;
      border: none;
      border-radius: 6px;
      padding: 12px 10px;
      height: 60px;
      width: 100%;
      color: #fff;
      @include font-basic-style;
      font-weight: 400;

      &.active {
        opacity: 1;
      }
    }
  }
}
