.find-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 48px;

  .find-password-title {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .Header {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    > span {
      color: #72787f;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
      white-space: nowrap;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 380px;

      > label {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6px;

        > input {
          flex: 1;
          border: 1px solid #e8ebed;
          border-radius: 6px;
          padding: 12px;

          color: #9ea4aa;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: -0.3px;
        }

        > input:focus {
          outline: none;
          border: 1px solid #191919;
          color: #191919;
        }

        .reset {
          display: none;
          position: absolute;
          right: 10px;
          top: 14px;
          background-image: url('../../assets/svg/login/login_reset_button.svg');
          width: 20px;
          height: 20px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        }

        &:focus-within > .reset {
          display: block;
        }
      }

      > label > input.error {
        border: 1px solid #f94e51;
      }

      .error-message {
        text-align: start;
        color: #f94e51;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
      }
    }

    .get-email-button {
      cursor: pointer;
      border: none;
      height: 60px;
      padding: 12px 10px;
      border-radius: 6px;
      background-color: #764bf6;
      width: 100%;

      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }
}
