.success-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 48px;

  .success-password-title {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 12px;

    .Header {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    > span {
      color: #72787F;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .move-login-button {
    cursor: pointer;
    background-color: #764BF6;
    border: none;
    border-radius: 6px;
    padding: 12px 10px;
    height: 60px;
    width: 100%;

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.3px;
  }
}