.region-selector {
  position: relative;

  .region-selector-btn {
    min-width: fit-content;
    height: 40px;
    padding: 8px 10px;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f7f8f9;

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      .icon-region {
        width: 24px;
        height: 24px;
        background-image: url('../../../assets/svg/main/region_selector/region_selector_region_black.svg');
        background-repeat: no-repeat;
        background-position: center;
      }

      > span {
        color: #191919;
        font-size: 14px;
        font-style: normal;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: -0.3px;
        white-space: nowrap;
      }
    }

    .icon-arrow {
      width: 24px;
      height: 24px;
      background-image: url('../../../assets/svg/main/region_selector/region_selector_arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
