.challenge-all-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;

  min-height: 1959px;

  .challenge-all-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .challenge-all-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-width: 1060px;

      .challenge-all-top-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .challenge-all-title-box {
          display: flex;
          padding-left: 6px;
          align-items: center;
        }

        .divider {
          width: 100%;
          height: 1px;
          background-color: #e8ebed;
        }

        .challenge-all-challenging-btn-box {
          display: flex;
          width: 100%;
          justify-content: flex-start;

          .challenge-all-challenging-btn {
            display: flex;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            border: 1px solid #e8ebed;
            background: #fff;

            color: #454c53;
            font-family: Pretendard;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: -0.3px;

            &:hover {
              cursor: pointer;
            }

            &.isRecruiting {
              border-radius: 24px;
              border: 1px solid #764bf6;
              background: #f1edfe;

              color: #764bf6;
              font-family: Pretendard;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%; /* 24px */
              letter-spacing: -0.3px;
            }
          }
        }
      }

      .challenge-all-sub-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;

        .loading-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 50vh;
        }
      }
    }
  }
}
