/* 모임 아이템 컨테이너 */
.challenge-item-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 354px;
  gap: 16px;
  cursor: pointer;

  &.recommend {
    min-width: 190px;
    height: 308px;
  }

  /* 모임 아이템 썸네일 */
  .challenge-item-thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    > img {
      display: block;
      border-radius: 12px;
      width: 100%;
      aspect-ratio: 1/1;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 67.72%,
        rgba(0, 0, 0, 0.26) 105.96%
      );
    }

    .challenge-item-heart-icon-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 16px;

      .challenge-item-thumbnail-heart-icon {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 36px;
        height: 36px;
        z-index: 10;

        background-image: url('../../../assets/svg/main/club/main_club_thumbnail_heart_icon_inactive.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        &.active {
          background-image: url('../../../assets/svg/main/club/main_club_thumbnail_heart_icon_active.svg');
        }
      }

      .challenge-item-d-day {
        position: absolute;
        top: 16px;
        left: 16px;

        display: inline-flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        z-index: 10;

        border-radius: 4px;
        opacity: 0.8;
        background: var(--gray-gray-80026282-b, #26282b);
        backdrop-filter: blur(2px);

        color: #fff;
        text-align: justify;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 21px */
        letter-spacing: -0.3px;
      }
    }
  }

  /* 모임 아이템 내용 */
  .challenge-item-content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 97px;

    /* 모임 이름 */
    .challenge-item-club-name {
      display: flex;
      align-items: center;
      width: 100%;
      height: 25px;
      padding-left: 4px;

      color: #191919;

      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    /* 모임 아이템 정보 */
    .challenge-item-information-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;

      /* 모임 아이템 태그 */
      .challenge-item-tag-container {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .challenge-item-information-sub-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 24px;
        gap: 6px;
        //padding-left: 4px;

        /* 모임 */
        .challenge-item-post-category-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .challenge-item-post-category {
            color: #72787f;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }

        /* 모임 위치 */
        .challenge-item-location-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .challenge-item-location-icon {
            width: 24px;
            height: 24px;

            background: url('../../../assets/svg/main/club/main_club_icon_location.svg');
            background-position: center;
            background-repeat: no-repeat;
          }

          .challenge-item-location {
            color: #72787f;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.3px;
          }
        }

        /* 모임 정보 구분선 아이콘 */
        .challenge-item-divider-icon {
          width: 2px;
          height: 8px;
          background-image: url('../../../assets/svg/main/club/main_club_icon_divider.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        /* 모임 현재 인원 */
        .challenge-item-current-members-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .challenge-item-current-members-icon {
            width: 24px;
            height: 24px;
            background-image: url('../../../assets/svg/main/club/main_club_icon_member.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }

          .challenge-item-member-container {
            display: flex;
            flex-direction: row;
            gap: 2px;

            .challenge-item-member-count {
              color: #72787f;

              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;

              .challenge-item-member-number {
                color: #191919;
              }
            }
          }
        }
      }
    }
  }
}
