.challenge-all-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;

  min-height: 1959px;

  .challenge-all-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    .challenge-all-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100%;

      .challenge-all-sub-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: 100%;

        &.empty {
          gap: 40px;
        }

        .loading-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 50vh;
        }
      }
    }
  }
}
