@mixin ClubMemberBtnStyle {
  width: 96px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 6px;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.3px;

  cursor: pointer;
}

.club-member-management-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 920px;

  .club-member-management-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    > span {
      color: #191919;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    .club-member-management-title-num-box {
      display: flex;
      align-items: center;

      > span {
        color: #191919;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.3px;
      }

      color: #72787f;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }
  }

  .club-member-management-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    /* 일반 사용자(비로그인 유저 & 모임 일반 멤버) 권한 */
    .club-member-management-login-user-box {
      display: flex;
      width: 920px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;

      .club-member-management-login-user-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        height: 48px;
      }

      .divider {
        align-self: stretch;
        height: 2px;
        background-color: #e8ebed;
        border-radius: 2px;
      }
    }

    .club-member-management-list-box {
      display: flex;
      width: 920px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;

      .club-member-management-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        height: 48px;

        .club-member-management-btn-container {
          display: flex;
          align-items: center;
          gap: 12px;

          .club-member-management-btn {
            @include ClubMemberBtnStyle();

            &.transfer-leader,
            &.remove-manager {
              border: 1px solid #764bf6;
              background: #fff;
              color: #764bf6;
            }

            &.kick-member {
              border: 1px solid #f94e51;
              background: #f94e51;
              color: #fff;
            }
          }
        }

        .club-member-management-btn-container-by-manager {
          display: flex;
          align-items: center;
          gap: 12px;

          .club-member-management-btn {
            @include ClubMemberBtnStyle();

            &.kick-member {
              border: 1px solid #f94e51;
              background: #f94e51;
              color: #fff;
            }
          }
        }
      }

      .divider {
        align-self: stretch;
        height: 2px;
        background-color: #e8ebed;
        border-radius: 2px;

        &.last {
          opacity: 0;
        }
      }
    }
  }
}
