.club-detail-member-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;

  .club-detail-member-info-box {
    display: flex;
    align-items: center;
    gap: 4px;

    > img {
      width: 24px;
      height: 24px;
      aspect-ratio: 1/1;
      border-radius: 24px;
    }

    > span {
      color: #72787f;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

  .club-detail-member-role-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    &.leader {
      background: url('../../../assets/svg/club/detail/club_detail_member_icon_leader.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &.manager {
      background: url('../../../assets/svg/club/detail/club_detail_member_icon_manager.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    &.member {
      display: none;
    }
  }
}
