.club-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  width: 100%;
  height: 100%;

  .club-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 920px;
    gap: 52px;
    height: 100%;

    min-height: 100vh;

    .club-detail-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      width: 100%;
      height: 100%;
    }

    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 50vh;
    }
  }
}
