.club-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  width: 100%;
  height: 100%;

  .club-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    height: 100%;
    
    min-height: 100vh;

    .club-detail-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      width: 100%;
      height: 100%;
    }
  }
}