.club-member-management-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 920px;

  .club-member-management-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    > span {
      color: #191919;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    .club-member-management-title-num-box {
      display: flex;
      align-items: center;

      > span {
        color: #72787f;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.3px;
      }

      color: #191919;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }
  }

  .club-member-management-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
