.club-detail-desc-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .club-detail-desc-content {
    width: 920px;
    font-size: 16px;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #191919;
    text-align: left;
    white-space: pre-line;
  }
}