.recommend-club-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;

  .recommend-club-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }
}
