.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  .register-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-title {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      width: 920px;

      .required-container {
        display: flex;
        justify-content: flex-end;
        width: 920px;
        margin-top: 54px;
        border-bottom: 2px solid #c9cdd2;
        padding-bottom: 9px;
      }
    }

    .register-content {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .register-up {
        display: flex;
        align-items: flex-start;
        gap: 96px;

        .register-region,
        .register-category,
        .register-member {
          margin-bottom: 32px;
        }
      }

      .register-club {
        margin: 40px 0 40px 0;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left-wrapper {
          .delete-btn {
            width: 96px;
            height: 48px;
            cursor: pointer;
            border-radius: 6px;
            flex-shrink: 0;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;

            background-color: #fff;
            border: 1px solid #764bf6;
            color: #764bf6;
          }
        }

        .right-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 12px;

          .cancel-btn,
          .allow-btn {
            width: 96px;
            height: 48px;
            cursor: pointer;
            border-radius: 6px;
            flex-shrink: 0;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
          }

          .cancel-btn {
            background-color: #fff;
            border: 1px solid #c9cdd2;
            color: #454c53;
          }

          .allow-btn {
            background-color: #764bf6;
            border: 1px solid #764bf6;
            color: #fff;
          }
        }
      }
    }
  }

  > footer {
    margin-top: 193px;
    height: 336px;
  }
}
