.auto-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .select-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    > label {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      color: #72787F;
      line-height: 24px;
      letter-spacing: -0.3px;

      input {
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../../../assets/svg/club/create/ellipse.svg");
        width: 20px;
        height: 20px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          background-image: url("../../../assets/svg/club/create/ellipse_active.svg");
          width: 12px;
          height: 12px;
          opacity: 0;
        }

        &:checked::after {
          opacity: 1;
        }
      }
    }
  }
}