.image-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .image-uploader-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;

    .image-uploader {
      display: flex;
      width: 330px;
      height: 330px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      border: 1px solid #c9cdd2;
      position: relative;

      .image-preview {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 6px;

        > img {
          aspect-ratio: 1/1;
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        .overlay {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 6px;
          background: rgba(0, 0, 0, 0.5);
          z-index: 10;
          opacity: 0;

          &:hover {
            opacity: 1;
            z-index: 1;
          }

          .image-change-btn {
            width: 96px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            border-radius: 6px;
            border: 1px solid #764bf6;
            background: #fff;

            &:focus {
              outline: none;
            }

            > span {
              width: 96px;
              height: 20px;

              color: #764bf6;
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
            }
          }
        }

        .spinner-box {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 6px;
          background: rgba(0, 0, 0, 0.5);
        }
      }

      .image-uploader-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .add-photo-icon {
          display: flex;
          width: 84px;
          height: 84px;
          padding: 18px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background: #fff;

          background-image: url('../../../assets/svg/club/register/add_photo.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 72px 72px;
        }

        .image-uploader-info {
          display: flex;
          width: 309px;
          flex-direction: column;
          align-items: center;
          gap: 24px;

          .image-uploader-info-text-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            > span:first-of-type {
              align-self: stretch;
              color: #191919;
              text-align: center;

              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              letter-spacing: -0.3px;
            }

            > span:last-of-type {
              align-self: stretch;
              color: #9ea4aa;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
            }
          }

          .image-uploader-btn {
            width: 96px;
            height: 40px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            border-radius: 6px;
            border: 1px solid #764bf6;
            background: #fff;

            > span {
              width: 96px;
              height: 20px;

              color: #764bf6;
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.3px;
            }
          }
        }
      }

      .image-uploader-file-input {
        display: none;
      }

      .overlay {
        display: flex;
        width: 330px;
        height: 330px;
        padding: 96px 72px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        aspect-ratio: 1/1;
        border-radius: 6px;
        border: 1px solid #c9cdd2;
        background: rgba(0, 0, 0, 0.5);

        position: absolute;
        top: 0px;
      }
    }

    .image-error-message {
      display: flex;
      height: 22px;
      padding-top: 1px;
      align-items: center;
      align-self: stretch;

      > span {
        color: #f94e51;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.3px;
      }
    }
  }
}
