.label-container {
  display: flex;
  height: 26px;
  padding: 0px 4px;
  gap: 2px;

  > label {
    font-size: 18px;
    color: #26282B;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.3px;
  } 

  > span {
    font-size: 12px;
    color: #F94E51;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
  }
}


