.label-container {
  display: flex;
  height: 26px;
  padding: 0px 4px;
  gap: 2px;

  .label-title {
    font-size: 18px;
    color: #26282b;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px;
    letter-spacing: -0.3px;
  }

  .label-required {
    font-size: 12px;
    color: #f94e51;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
  }
}
