.max-member-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  .max-member-input-box {
    display: flex;
    width: 470px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: 6px;
    border: 1px solid#E8EBED;

    &:focus {
      outline: none;
    }
  }

  .err-message {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #f94e51;
    line-height: 21px;
    letter-spacing: -0.3px;
  }
}
