.logo-header-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 1920px;
  height: 94px;
  padding: 32px 0px;
  background: #fff;
  border-bottom: 1px solid #E8EBED;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

  .logo-header-wrapper {
    padding: 0 80px;

    .logo-logo {
      cursor: pointer;
    }
  }
}