.header-container {
  width: 1920px;
  padding: 16px 0px;
  background: #fff;
  min-width: 1440px;
  max-width: 1920px;

  .header-wrapper {
    padding: 0px 320px;

    .main-wrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .up-wrapper {
        display: flex;
        justify-content: space-between;
        
        .left-wrapper {
          display: flex;
          align-items: center;
          gap: 44px;
        }

        .right-wrapper {
          display: flex;
          gap: 44px;
    
          .btns-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;
    
            button {
              width: 72px;
              padding: 8px 12px;
    
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 21px;
              letter-spacing: -0.3px;
              border-radius: 6px;
            }
    
            .login-btn {
              color: #191919;
              background: #fff;
            }
    
            .signup-btn {
              color: #fff;
              background: #000;
            }
          }
        }
      }

      .down-wrapper {
        display: flex;
        align-items: center;
        height: 36px;
        gap: 32px;
      
        button {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 10px;
        }
      }
    }
  }
}