.header-container {
  width: 100vw;
  height: 80px;
  padding: 16px 0px;
  background: #fff;
  border-bottom: 1px solid #E8EBED;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

  .header-wrapper {
    padding: 0px 320px;

    .main-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .up-wrapper {
        display: flex;
        justify-content: space-between;
        
        .left-wrapper {
          display: flex;
          align-items: center;
          gap: 44px;

          .header-logo {
            cursor: pointer;
          }
        }

        .right-wrapper {
          display: flex;
          gap: 44px;
    
          .btns-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;
    
            .login-btn,
            .signup-btn {
              display: flex;
              justify-content: center;
              width: 72px;
              padding: 8px 12px;
    
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 21px;
              letter-spacing: -0.3px;
              border-radius: 6px;
              border: none;
              cursor: pointer;
              white-space: nowrap; /* 줄바꿈 방지 */
            }
    
            .login-btn {
              color: #191919;
              background: #fff;
            }
    
            .signup-btn {
              color: #fff;
              background: #000;
            }

            &.icons {
              display: flex;
              gap: 16px;

              > button {
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                border: none;
                width: 36px;
                height: 36px;
              }

              .notice-btn {
                background-image: url("../../assets/svg/header/notice.svg");
              }

              .saved-btn {
                background-image: url("../../assets/svg/header/saved-default.svg");
              }

              .profile-wrapper {
                position: relative;
                box-sizing: border-box;
                width: 36px;
                height: 36px;
                cursor: pointer;

                &.clicked::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  border: 2px solid #DADADA;
                  width: 32px;
                  height: 32px;
                  background-color: rgba(82, 82, 82, 0.3);
                  border-radius: 50%;
                }

                .profile-btn {
                  display: block;
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }

      .profile-modal {
        height: 82px;
        position: absolute;
        right: 0;
        bottom: -11.5px;
      }

      .down-wrapper {
        display: flex;
        align-items: center;
        height: 36px;
        gap: 32px;
      
        > button {
          display: flex;
          align-items: center;
          height: 40px;
          padding: 10px;
        }
      }
    }
  }
}