.header-container {
  width: 1920px;
  height: 76px;
  padding: 16px 0px;
  background: #fff;
  min-width: 1440px;
  max-width: 1920px;

  .header-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0px 320px;
    gap: 126px;

    .left-wrapper {
      display: flex;
      align-items: center;
      gap: 44px;

      > .region-selector {
        white-space: nowrap;
      }
    }

    .goto-btn-wrapper {
      display: flex;
      align-items: center;
      height: 36px;
      gap: 28px;

      button {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 10px;
        white-space: nowrap;
      }
    }

    .right-wrapper {
      display: flex;
      align-items: center;
      gap: 44px;

      .btns-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 72px;
          padding: 8px 12px;

          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: -0.3px;
          border-radius: 6px;
        }

        .login-btn {
          color: #191919;
          background: #fff;
        }

        .signup-btn {
          color: #fff;
          background: #000;
        }
      }
    }
  }
}