* {
  box-sizing: border-box;
}

.modal-back {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal-box {
    background: #fff;
    // transform: translateY(-10%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 40px;
    width: 480px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;

    .modal-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      > span {
        font-size: 24px;
        font-weight: 600;
        color: #191919;
        font-style: normal;
        line-height: 33.6px;
        letter-spacing: -0.3px;
      }
    
      .modal-close-btn {
        cursor: pointer;
        background: none;
        border: none;
        background-image: url("../../assets/svg/join/agreement_modal_back.svg");
        width: 20px;
        height: 20px;
      }
    }
    
    > hr {
      border: 1px solid #E8EBED;
      width: 400px;
      margin: 10px 0px 15px;
    }
  
    .modal-content {
      text-align: left;
      overflow-y: scroll; 
      margin-bottom: -40px;
      padding-right: 10px;
      margin-right: -30px;

      span {
        font-size: 18px;
        font-weight: 600;
        color: #191919;
        font-style: normal;
        line-height: 25.2px;
        letter-spacing: -0.3px;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #72787F;
        font-style: normal;
        line-height: 24px;
        letter-spacing: -0.3px;
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background: #9EA4AA;
        border-radius: 100px;
      }
    }
  }
  .agree-btn {
    background: #fff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    width: 480px;
    height: 60px;
    border-top: 1.3px solid #E8EBED;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: #764BF6;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 24px;
  }
}

