.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  > .line1, .line2 {
    border-bottom: 1px solid #E8EBED;
  }

  > .line1 {
    height: 90px;
  }

  > .line2 {
    height: 56px;
  }

  .progress-bar {
    height: 8px;
    background-color: #764BF6;
    border-radius: 100px;
    transition: width 0.3s ease-in-out;
  }
}


@media screen and (max-width:3440px) {
  .progress-bar.\/signup\/agreement { width: calc(100vw * 0.2); }
  .progress-bar.\/signup\/user-info { width: calc(100vw * 0.4); }
  .progress-bar.\/signup\/region    { width: calc(100vw * 0.6); }
  .progress-bar.\/signup\/hobby     { width: calc(100vw * 0.8); }
  .progress-bar.\/signup\/success   { width: calc(100vw * 1); }
}