.progress-container {
  width: 480px;
  height: 8px;
  border-radius: 100px;
  background: #F7F8F9;

  .progress-line {
    width: var(--step-width, 96px);
    height: 8px;
    border-radius: 100px;
    background: #764BF6;
    transition: width 0.3s ease-in-out;
  }
}

$progress-steps: (
  "step-agreement": 96px,
  "step-user-info": 192px,
  "step-region": 288px,
  "step-hobby": 384px
);

@each $step, $width in $progress-steps {
  .progress-line[style*="--step-name: #{$step}"] {
    --step-width: #{$width};
  }
}