:root {
  --progress-width: 0%;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  > .line1, .line2 {
    border-bottom: 1px solid #E8EBED;
  }

  > .line1 {
    height: 90px;
  }

  > .line2 {
    height: 56px;
  }

  .progress-bar {
    height: 8px;
    background-color: #764BF6;
    border-radius: 100px;
    width: var(--progress-width);
    transition: width 0.3s ease-in-out;
  }
}


// 태블릿 (768 ~ 1023px)
@media screen and (min-width: 768px) and (max-width: 1023px) {
  $progress-tablet: (
    "step-agreement": 22%,
    "step-user-info": 42%,
    "step-region": 62%,
    "step-hobby": 82%,
    "step-success": 100%
    );
    
    @each $step, $width in $progress-tablet {
      [style*="--step-name: #{$step}"] {
        --progress-width: #{$width};
      }
    }
  }
  
// 데스크탑 (1024px 이상)
@media screen and (min-width: 1024px) {
  $progress-desktop: (
    "step-agreement": 20%,
    "step-user-info": 40%,
    "step-region": 60%,
    "step-hobby": 80%,
    "step-success": 100%
  );
  
  @each $step, $width in $progress-desktop {
    [style*="--step-name: #{$step}"] {
      --progress-width: #{$width};
    }
  }
}
