.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1559px;
  
  .progress-container {
    margin-top: 80px;
  }

  .registration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .registration-title {
      display: flex;
      flex-direction: column;
      gap: 72px;

      .required-container {
        display: flex;
        justify-content: flex-end;
        width: 480px;
        border-bottom: 2px solid #191919;
        padding-bottom: 9px;
      }
  
      .Header {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.3px;
      }
    }
  
    > main {

      ul.user-form {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 20px;
        width: 480px;
        list-style: none;
  
        > li {
  
          .radio-ul {
            margin-top: 16px;
            display: flex;
            padding: 0 256px 0 6px;
            gap: 15px;
  
            > li {
              display: flex;
              align-items: center;
              height: 24px;
  
              > label {
                width: 45px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
              }
            }
  
            input[type="radio"] {
              -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
              -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거
              appearance: none; // 기본 브라우저에서 기본 스타일 제거
              border-radius: 50%;
              outline: none; // focus 시에 나타나는 기본 스타일 제거
              cursor: pointer;
              width: 24px;
              height: 24px;
              border: 1px solid #C9CDD2;
              margin-right: 12px;
            }
  
            input.checked {
              background-color: #fff; // 체크 시 내부 원 색상
              border: 6px solid #764BF6; // 라인이 아닌, 라인과 원 사이 색상
              box-shadow: 0 0 0 1px #764BF6; // 라인
            }
          }
  
          div.input-box {
            position: relative;
            display: flex;
            width: 380px;
            gap: 8px;
  
            input {
              display: inline-block;
              width: 252px;
              height: 48px;
              padding: 12px;
              outline: none;

              border: 1px solid #E8EBED;
              border-radius: 6px;
              font-size: 16px;
              font-weight: 500;
              line-height: 150%;
  
              &::placeholder {
                color: #9ea4aa;
              }
            }
  
            input.long {
              display: inline-block;
              position: relative;
              width: 380px;
              height: 48px;
              padding: 12px;
              border: 1px solid #E8EBED;
              border-radius: 6px;
              outline: none;
              
              font-size: 16px;
              color: #191919;
              font-weight: 500;
              line-height: 150%;
  
              &::placeholder {
                color: #9ea4aa;
              }
            }
          }
  
          
          input.valid {
            border: 1px solid #764BF6 !important;
          }
          
          input.warning {
            border: 1px solid #F94E51 !important;
          }
          
          input:focus:not(.warning):not(.valid) {
            border: 1px solid #191919;
          }
  
          .show-password {
            cursor: pointer;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 18px;
            right: 12px;
            background-image: url("../../assets/svg/signup/signup_eyes.svg");
          }
  
        }
      }
    }
  
    .check-btn {
      width: 96px;
      height: 48px;
      color: #C9CDD2;
      border: 1px solid #C9CDD2;
      text-align: center;
      border-radius: 6px;
      background-color: #fff;
      margin-top: 6px;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: -0.3px;
    }
  
    .active {
      cursor: pointer;
      border: 1px solid #764BF6;
      color: #764BF6;
      font-weight: 500;
    }
  
    .next {
      margin-top: 60px;
      cursor: pointer;
      border: none;
      width: 480px;
      height: 60px;
      border-radius: 6px;
      background-color: #8b5cf6;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #fff;
      opacity: 0.3;
  
      &.active {
        opacity: 1;
      }
    }
  
    .disable {
      opacity: 0.3;
      cursor: default;
    }
  
    .timer {
      color: #F94E51;
      position: absolute;
      top: 23px;
      right: 7px;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.3px;
      font-weight: 500;
    }
  
    //.reset-2{
    //  cursor: pointer;
    //  position: absolute;
    //  top: 25px;
    //  right: 44px;
    //  width: 20px;
    //  height: 20px;
    //  background-image: url("../../assets/svg/signup/signup_reset.svg");
    //  background-repeat: no-repeat;
    //  background-size: 100%;
    //  border: none;
    //  display: none;
    //}
  
  
    p.default {
      color: #72787F;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
      margin-top: 6px;
      font-weight: 500;
      letter-spacing: -0.3px;
    }
  
    p.warning {
      color: #F94E51;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
      margin-top: 6px;
      font-weight: 500;
      letter-spacing: -0.3px;
    }
  
    p.valid {
      color: #03B240;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
      margin-top: 6px;
      letter-spacing: -0.3px;
      font-weight: 500;
    }
  
    .reset {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 140px;
      width: 20px;
      height: 20px;
      background-image: url("../../assets/svg/signup/signup_reset.svg");
      background-position: center;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      border: none;
      display: none;
    }
    .show {
      display: block;
    }
    .right12 {
      right: 12px;
    }
    .right45 {
      right: 45px;
    }

    .nickname-check-icon {
      pointer-events: none;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 20px;
      right: 140px;
      background-image: url("../../assets/svg/signup/user-info-checked.svg");
    }

  }
}