.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 60px;

  .signup-title {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .Header {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }

    > span {
      color: #72787F;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.3px;
    }
  }

    .next {
      display: flex;
      width: 480px;
      height: 60px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: #764BF6;
      color: #fff;
      border: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.3px;
    }

}