@mixin challenge-title-style {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #191919;
  line-height: 140%;
}

.challenge-title {
  display: flex;
  align-self: stretch;
  @include challenge-title-style();
}

.club-detail-item-sub-title {
  @include challenge-title-style();

  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.3px;
  text-align: start;
}
.club-meeting-register-title {
  width: 100%;
  text-align: center;
}
