.club-meeting-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  .club-meeting-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .club-meeting-list-empty {
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    > span {
      flex: 1 0 0;
      color: #9ea4aa;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      letter-spacing: -0.3px;
    }
  }

  .club-meeting-create-button {
    display: flex;
    width: 920px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #764bf6;
    border: none;

    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.3px;
  }
}
